html {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 30px;
}

main > .title {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
}

main > .subtitle {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

main > .icons i {
  font-size: 3em;
  padding: 10px;
}